  <div class="d-flex align-items-center gap-2">
    <button mat-icon-button [routerLink]="['/home']"><mat-icon>arrow_back</mat-icon></button><h3>Post Details</h3>
  </div>
  <mat-card appearance="outlined" class="post-details">
    <mat-card-content>
      <div class="d-flex gap-2">
        <h4 class="m-0">Property Type:</h4>
        <span>Apartment</span>
      </div>
      <div class="d-flex gap-2">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book
        </p>
        <div></div>
      </div>
      <div class="d-flex align-items-center gap-2">
        <mat-icon>place</mat-icon>
        <h4 class="m-0">Address</h4>
        <p class="m-0">
          115 Somnath ki juni chal Near ambedakar nagar indore, M.P
        </p>
      </div>
      <div class="d-flex align-items-center gap-2">
        <h4>Rent</h4>
        <p>$1000/month</p>
      </div>
      <h3 class="fw-none">Amenities</h3>
      <div class="amenities-grid-container">
        @for (amenitiy of amenities; track $index) {

          <div class="d-flex align-items-center gap-2 amenities-item">
            <mat-icon>{{ amenitiy.icon }}</mat-icon>
            <span>{{ amenitiy.name }}</span>
          </div>
        }
      </div>
      <mat-divider></mat-divider>
      <h3>Gallery</h3>
      <div class="grid-container">
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          loading="lazy"
          alt=""
          class="img-responsive"
        />
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          loading="lazy"
          alt=""
          class="img-responsive"
        />
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          loading="lazy"
          alt=""
          class="img-responsive"
        />
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          loading="lazy"
          alt=""
          class="img-responsive"
        />
        <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          loading="lazy"
          alt=""
          class="img-responsive"
        />
      </div>
    </mat-card-content>
  </mat-card>
  <!-- <mat-divider></mat-divider> -->
  <app-comments></app-comments>
