<mat-toolbar>
    <button
      mat-button
      aria-label="Landing Page"
      [routerLink]="['/home']" 
      class="home-button"
    >
      Rent-hub
    </button>
    <span class="example-spacer"></span>
    <button
      mat-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="openLoginSignup('login')"
    >
      Login
    </button>
    <button
      mat-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="openLoginSignup('signup')"
    >
      Signup For Free!
    </button>
  </mat-toolbar>
  <main>
    <div class="container">
      
    </div>
  </main>
  
  