<h4>Comments</h4>
<div class="comment-form-field">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Leave a comment" rows="3"></textarea>
  </mat-form-field>
  <button mat-flat-button>Submit</button>
</div>
@for (comment of comments; track comment.id) {
<mat-card appearance="outlined" class="comment-card">
  <mat-card-header>
    <div
      class="d-flex align-items-center justify-content-between gap-2 w-100"
    >
      <mat-card-title>{{ comment.author }}</mat-card-title>
      <div class="d-flex align-items-center gap-1">
        <mat-icon class="material-symbols-outlined"> schedule </mat-icon>
        <mat-card-subtitle> {{ comment.date }}</mat-card-subtitle>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p class="m-0">
      {{ comment.text }}
    </p>
  </mat-card-content>
</mat-card>
}
